.TutorialWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.TutorialCardOld {
     width:48%;
     float:left;
     margin: 10px 10px 10px 10px;
     height: 100%;
 }
.TutorialCard {
    flex: 1;
    margin: 10px 10px 10px 10px;
    height: fit-content;
}
.TutorialCard:hover {
    cursor : pointer;
}
.TutorialCardText {
    text-align: justify;
}